.form {
    flex: 1;
    justify-content: space-between;
}

.wrapper-title {
    margin-top: 40px;
}

.title {
    font-size: var(--fs_l);
    font-weight: 600;
    color: var(--color_main);
}

.wrapper-textarea {
    margin-top: 28px;
}

.wrapper-time {
    margin-top: 28px;
}
