{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module",
        "tsconfigRootDir": ".",
        "project": "tsconfig.json"
    },
    "extends": ["eslint:recommended", "prettier"],
    "plugins": ["prettier"],
    "env": {
        "node": true
    },
    "rules": {
        "prettier/prettier": "error"
    }
}
