.task-completed {
    color: var(--color_white);
    background-color: var(--color_background_light);

    &:first-child .task-card {
        color: var(--color_black);
        background-color: var(--color_primary);
    }
}
