.greetings {
    color: var(--color_primary);
    font-size: var(--fs_xs);
    font-weight: 500;
}

.name {
    color: var(--color_main);
    font-family: Unbounded, sans-serif;
    font-size: var(--fs_xxl);
    font-style: normal;
    font-weight: 400;
}
