.wrapper {
    color: var(--color_secodary);
}

.container-content {
    position: relative;
    color: var(--color_main);
}

.input {
    height: 56px;
    padding: 12px 24px;

    &.__with-icon {
        padding-left: 56px;
    }

    &.__is-password {
        padding-right: 56px;
    }
}

.icon {
    position: absolute;
    color: inherit;
    top: 50%;
    transform: translateY(-50%);

    &.__is-left {
        left: 16px;
    }

    &.__is-right {
        right: 16px;
    }
}

.title {
    margin-bottom: 16px;
    color: inherit;
}
