@import 'variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--color_background_dark);
    font-family: Inter, sans-serif;
    font-weight: 400;
}

/* Сбрасываем автокомплит у полей */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:autofill,
textarea:autofill,
select:autofill {
    box-shadow: 0 0 0 1000px var(--color_background_light) inset !important;
    -webkit-text-fill-color: var(--color_main) !important;
    caret-color: var(--color_main) !important;

    &::selection {
        -webkit-text-fill-color: var(--color_black) !important;
    }
}

*::selection {
    color: var(--color_black) !important;
    background: var(--color_primary) !important;
}

/* Системные теги */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 50px;
}
/* /Системные теги */
