:root {
    /* Цвета */
    --color_main: #fff;
    --color_secodary: #8caab9;
    --color_background_light: #455a64;
    --color_background_dark: #212832;
    --color_primary: #fed36a;
    --color_dark: #263238;

    --color_white: #fff;
    --color_black: #000;

    /* Шрифты */
    --fs_s: 16px;
    --fs_m: 18px;
    --fs_l: 26px;
}
