.form {
    display: flex;
    flex-direction: column;
}

.input-email {
    margin-top: 24px;
}

.input-password {
    margin-top: 28px;
}

.link {
    margin-top: 12px;
    color: var(--color_secodary);
    text-align: right;
}

.button {
    height: 64px;
    margin-top: 36px;
    font-size: var(--fs_m);
}
