.header {
    display: flex;
    justify-content: space-between;
    color: var(--color_main);
    font-size: var(--fs_m);
    font-weight: 500;
}

.heading {
    font-size: inherit;
    font-weight: inherit;
}

.container-action {
    width: 24px;
    height: 24px;
}
