@import '~@styles/mixins';

.wrapper {
    color: var(--color_secodary);
}

.container-content {
    position: relative;
    color: var(--color_main);
}

.label {
    margin-bottom: 16px;
    color: inherit;

    &.__is-visible {
        @include invisible;

        margin-bottom: -1px;
    }
}

.error {
    display: block;
    margin-top: 8px;
    color: var(--color_dangerous);
    font-weight: 600;
    font-size: var(--fs_s);
}
