.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 32px 0;
}

.heading {
    flex: 1;
    margin-top: 20vh;
    color: var(--color_main);
    text-align: center;
}

.number {
    color: var(--color_primary);
    font-size: 84px;
}
